body {
  background-image: url("lake-mountains.jpg");
}

.emotion {
        margin: 25px;
        width: 90px;
        height: 45px;
      }
      .weathertag{

        float: left;
        margin: 20px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }